<div class="flex mt-9 justify-center gap-36 py-10 min-h-screen">
  <div class="flex flex-wrap max-w-lg">
    <% @product.images.each do |image| %>
      <%= image_tag image,class:"w-auto h-64"%>
    <% end %>
  </div>
  <div data-controller="products" data-products-product-value="<%= @product.to_json %>" class="flex flex-col items-start max-w-sm">
    <h1 class="font-bold text-4xl uppercase"><%= @product.name%></h1>
    <% if @product.price %>
    
      <p class="text-2xl mt-4"> <%= number_to_currency(@product.price.to_f , unit: "DZ ", separator: ",", delimiter: ".") %></p>
    <% end %>
    <p class="text-2xl mt-4"><%= @product.description %> </p>
    <div class="my-8">
      <% if !@product.price and @product.name == "djezzy M2M" %>
        <%= link_to "Contact Us", "https://www.djezzy.dz/entreprises/offres/m2m/", class: "inline-flex items-center justify-center px-5 py-3 border border-transparent font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700 focus-within:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500", target: "_blank", rel: "noopener noreferrer" %>
      <% end %>
      <% @product.stocks.each do |stock| %>
        <% if stock.amount > 0 %>
          <button data-action="click->products#addToCart" class="inline-flex items-center justify-center px-5 py-3 border border-transparent font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700 focus-within:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">Add To Cart</button>
        <% elsif stock.amount <= 0 %>
          <p class="text-red-500">unavailable</p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>